// include another .scss file from a sub-directory
@import 'variables.scss';
@import './table/table.scss';

html {
    font-size: 14px;
}
body {
    background-color: #fff;
    color: $text-color;
    font-family: $font-stack;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    a {
        color: $primary-color;
        text-decoration: none;
        transition: color 300ms;

        &:hover {
            color: $secondary-color;
        }
    }
}

.container {
    margin: auto;
    max-width: 960px;
    padding: 0 1rem;
}