.datepickers {
    align-items: flex-end;
    display: flex;
    padding: 2rem 0;
}
.datepicker {
    flex: 1 1 40%;
    padding-right: 10%;
    position: relative;

    &__title {
        margin-bottom: 1rem;
    }
    &__value {
        border-color: transparent transparent $border-color transparent;
        border-style: solid;
        border-width: 0 0 1px 0;
        cursor: pointer;
        font-family: $font-stack;
        font-weight: normal;
        font-size: 1.25rem;
        outline: none;
        width: 100%;
    }
}
.renew {
    cursor: pointer;
}
.table {
    border-collapse: collapse;
    width: 100%;

    &Wrap {
        overflow: auto;
    }

    thead {
        th {
            padding: 1rem;
            text-align: left;
            vertical-align: top;
        }
    }
    tbody {
        tr {
            &:nth-child(2n+1) {
                td {
                    background-color: $background;
                }
            }
        }
        td {
            padding: 1rem;
        }
    }
}